.dashboard {
  display: flex;
  height: 100vh;
  background-color: #f4f5f7;
  overflow: hidden;
}



.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.contentArea {
  flex-grow: 1;
  padding: 1.5rem;
  overflow-y: auto;
  background-color: #f4f5f7;
}