.success-alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    animation: slide-in 0.5s ease-in-out;
}

.success-alert {
    display: flex;
    align-items: center;
    background-color: #ecfdf3;
    border: 1px solid #35c280;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 12px 16px;
    min-width: 320px;
    max-width: 450px;
    
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.success-icon {
    color: #00c851;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-icon svg {
    width: 20px;
    height: 20px;
}

.success-content {
    flex: 1;  
}

.success-message {
    font-size: 14px;
    color: #4b5563;
}

/* Responsive styles */
@media screen and (max-width: 576px) {
    .success-alert-container {
        right: 10px;
        left: 10px;
    }
    
    .success-alert {
        min-width: auto;
        width: 100%;
    }
    
    .success-message {
        font-size: 13px;
    }
} 